/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Velonimo implementation : © Oliver THEBAULT (a.k.a. Oliboy50)
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * velonimo.css
 *
 * Velonimo stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.

    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (velonimo_velonimo.tpl), and to HTML elements you create dynamically
    (in velonimo.js).

    Usually, you are using CSS to:

    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can
        display these images correctly (see example below).

    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.


     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/

/* Note: you must not use any @import directive */

/**
Board
 */
#game_play_area {
    position:relative;
}

#board {
    display: flex;
    align-items: center;
    justify-content: center;
}

#game-info {
    width: auto; /* to cancel the width property of the BGA ".player-board" class */
    position: absolute;
    top: 0;
    left: 2px;
    border: 1px solid black;
    border-radius: 8px;
}
#current-round {
    font-size: 1.5em;
}

#board-carpet {
    position: relative;
    width: 740px;
    height: 450px;
    background-color: #35714a;
    box-shadow: 2px 2px 5px black;
    border: 1px solid #3b3119;
}
/*
#board-carpet.yellow {
    background-color: #e9c646;
}
*/

.player-table {
    position: absolute; /* position is dynamically computed */
    width: 130px;
    height: 130px;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.7);
    padding: 5px;
}
.player-table.active {
    border: 2px solid #ff0000;
}
.player-table.selectable {
    cursor: pointer;
    border: 2px solid black;
}
.player-table.selectable:hover {
    border: 2px solid #ff0000;
    transform: scale(1.02);
}
.player-table-name {
    font-weight: bold;
    pointer-events: none;
}
.player-table-hand {
    position: relative;
    width: 65px;
    height: 90px;
    background-size: 65px 90px;
    margin: 5px auto 0;
    border-radius: 5px;
    background-image: url('img/remaining_cards.png');
    background-repeat: no-repeat;
    background-position: center center;
    pointer-events: none;
    transition-property: all;
    transition-duration: 0.4s;
}
.player-table.is-wearing-jersey .player-table-hand {
    margin: 5px 0 0 -5px;
}
.player-table-hand .number-of-cards {
    position: absolute;
    left: 8px;
    top: 20px;
    font-size: 2em;
    text-align: center;
    width: 1em;
    pointer-events: none;
}
.player-table-cards {
    position: absolute; /* position is dynamically computed */
    width: 130px; /* player table width */
    height: 126px; /* card height */
    pointer-events: none;
}
.player-table.is-wearing-jersey .player-table-jersey {
    position: absolute;
    bottom: 10px;
    right: 0;
    width: 60px;
    height: 83px;
    background-size: 60px 83px;
    background-image: url('img/jersey.png');
    background-repeat: no-repeat;
    background-position: center center;
    pointer-events: none;
    transition-property: opacity;
    transition-duration: 0.4s;
}
.player-table.is-wearing-jersey.has-used-jersey .player-table-jersey {
    opacity: 0.2;
}
/* @TODO: try to only reduce opacity of jersey instead of using a cross overlay */
.player-table.is-wearing-jersey.has-used-jersey .jersey-overlay {
    display: block;
    position: relative;
    top: 20px;
    height: 50px;
    width: 10px;
    margin: 0 auto;
    background: black;
    transform: rotate(45deg);
}
.player-table.is-wearing-jersey.has-used-jersey .jersey-overlay:after {
    content: "";
    position: absolute;
    left: -20px;
    top: 20px;
    width: 50px;
    height: 10px;
    background: black;
}
/**
END Board
 */

/**
Current player
 */
.spectatorMode #my-hand-wrapper {
    display: none;
}

#my-hand .stockitem {
    border-radius: 10px;
    margin: 5px;
    border: 1px solid grey;
}
#my-hand .stockitem:hover {
    cursor: pointer;
    margin: 4px;
    border: 2px solid black !important;
}
#my-hand .stockitem_selected {
    margin: 3px;
    transform: scale(1.02);
    border: 2px solid black !important;
    box-shadow: 1px 1px 5px black, 2px 2px 4px black;
}
#my-hand .stockitem.non-selectable-player-card {
    cursor: not-allowed;
    opacity: 0.5 !important;
}
#my-hand .stockitem.non-selectable-player-card:hover {
    cursor: not-allowed;
    margin: 5px;
    border: 1px solid gray !important;
}
/**
END Current player
 */

/**
Cards
 */
.velonimo-card {
    width: 90px;
    height: 126px;
    border-radius: 10px;
    background-repeat: no-repeat;
}
.velonimo-card.front-side {
    background-image: url('img/cards.png'); /* background-position is dynamically computed */
    background-size: 630px 1008px;
}
.velonimo-card.back-side {
    background-image: url('img/remaining_cards.png');
    background-size: 90px 126px;
}
.cards-stack {
    position: absolute; /* position and width are dynamically computed */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.cards-stack .velonimo-card {
    margin-right: -60px; /* 2/3 of card width */
}
/**
END Cards
 */

/**
Animations
 */
.moving-jersey {
    position: absolute;
    width: 60px;
    height: 83px;
    background-size: 60px 83px;
    background-image: url('img/jersey.png');
    background-repeat: no-repeat;
    z-index: 100;
}
/**
END Animations
 */
