/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Velonimo implementation : © Oliver THEBAULT (a.k.a. Oliboy50)
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * velonimo.css
 *
 * Velonimo stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.

    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (velonimo_velonimo.tpl), and to HTML elements you create dynamically
    (in velonimo.js).

    Usually, you are using CSS to:

    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can
        display these images correctly (see example below).

    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.


     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/

/* Note: you must not use any @import directive */

/**
Override "tableWindow" style (BGA framework feature)
 */
.tableWindow table {
    width: 100%;
}

/**
Board
 */
#game_play_area {
    position:relative;
}

#board {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 740px;
}

#game-info {
    width: auto; /* to cancel the width property of the BGA ".player-board" class */
    position: absolute;
    top: 0;
    left: 2px;
    text-align: center;
    border: 1px solid black;
    border-radius: 8px;
}
#current-round {
    font-size: 1.5em;
}

#board-carpet {
    position: relative;
    width: 740px;
    height: 480px;
    background-color: #35714a;
    box-shadow: 2px 2px 5px black;
    border: 1px solid #3b3119;
}
/* @TODO: remove if unused */
#board-carpet.yellow {
    background-color: #e9c646;
}

.player-table {
    position: absolute; /* position is dynamically computed */
    width: 130px;
    height: 130px;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.7);
    padding: 5px;
    z-index: 2;
}
.player-table.active {
    border: 2px solid #ff0000;
}
.player-table.selectable {
    cursor: pointer;
    border: 2px solid black;
}
.player-table.selectable:hover {
    border: 2px solid #ff0000;
    transform: scale(1.02);
}
.player-table-name {
    font-weight: bold;
    pointer-events: none;
}
.player-table-hand {
    position: relative;
    width: 65px;
    height: 90px;
    background-size: 65px 90px;
    margin: 5px auto 0;
    border-radius: 5px;
    background-image: url('img/remaining_cards.png');
    background-repeat: no-repeat;
    background-position: center center;
    pointer-events: none;
    transition-property: all;
    transition-duration: 0.4s;
}
.player-table.is-wearing-jersey .player-table-hand {
    margin: 5px 0 0 -6px;
}
.player-table-speech-bubble {
    position: absolute;
    top: 0;
    width: 50px;
    height: 40px;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 2.2em;
    text-align: center;
    font-weight: bold;
    opacity: 0;
    pointer-events: none;
    transition-property: opacity;
    transition-duration: 0.4s;
}
.player-table-speech-bubble::after {
    content: "";
    position: absolute;
    top: 30px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 20px solid #ffffff;
}
.player-table-speech-bubble.show-bubble {
    opacity: 1;
}
.speech-bubble-on-left {
    left: -70px;
    box-shadow: -2px 2px 5px 0 black;
}
.speech-bubble-on-left::after {
    right: -10px;
    transform: rotate(-60deg);
}
.speech-bubble-on-right {
    right: -70px;
    box-shadow: 2px 2px 5px 0 black;
}
.speech-bubble-on-right::after {
    left: -10px;
    transform: rotate(60deg);
}
.player-table.is-wearing-jersey .player-table-jersey {
    position: absolute;
    bottom: 7px;
    right: -1px;
    width: 65px;
    height: 90px;
    background-size: 65px 90px;
    background-image: url('img/jersey.png');
    background-repeat: no-repeat;
    background-position: center center;
    pointer-events: none;
    transition-property: opacity;
    transition-duration: 0.4s;
}
.player-table.is-wearing-jersey.has-used-jersey .player-table-jersey {
    opacity: 0.2;
}
/**
END Board
 */

/**
Board cards
 */
#played-cards {
    position: relative;
    top: 166px; /* (containerHeight / 2) - (selfHeight / 2) */
    left: 235px; /* (containerWidth / 2) - (selfWidth / 2) */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px; /* cardWidth + (6 * (cardWidth / 3)) */
    height: 148px; /* cardHeight + (cardHeight / 6) */
    z-index: 4;
}
#last-played-cards {
    position: absolute;
    bottom: 0;
    height: 126px; /* cardHeight */
    z-index: 10;
}
#previous-last-played-cards {
    position: absolute;
    top: 0;
    height: 126px; /* cardHeight */
    z-index: 8;
}
/* /!\ 2P mode only */
#cards-deck {
    position: absolute;
    display: block;
    top: 177px; /* (containerHeight / 2) - (selfHeight / 2) */
    left: 10px; /* boardMargin */
    width: 90px; /* cardWidth */
    height: 126px; /* cardHeight */
}
/* /!\ 2P mode only */
#cards-deck-cards .card-in-deck {
    position: absolute;
    display: block;
    width: 90px; /* cardWidth */
    height: 126px; /* cardHeight */
    border-radius: 5px;
    background-image: url('img/remaining_cards.png');
    background-size: 90px 126px;
}
/* /!\ 2P mode only */
#attack-reward-card {
    position: absolute;
    display: inline-block;
    top: 177px; /* (containerHeight / 2) - (selfHeight / 2) */
    left: 110px; /* cardWidth + (2 * boardMargin) */
    width: 90px; /* cardWidth */
    height: 126px; /* cardHeight */
}
/**
END Board cards
 */

/**
Current player hand
 */
.spectatorMode #my-hand-wrapper {
    display: none;
}
#my-hand-title {
    display: inline-block;
}
#toggle-sort-button {
    display: inline-block;
    margin: 0 0 0 10px;
}
#my-hand .stockitem {
    border-radius: 10px;
    margin: 5px;
    border: 1px solid grey;
}
#my-hand .stockitem:hover {
    cursor: pointer;
    margin: 4px;
    border: 2px solid black !important;
}
#my-hand .stockitem_selected {
    margin: 3px;
    transform: scale(1.02);
    border: 2px solid black !important;
    box-shadow: 1px 1px 5px black, 2px 2px 4px black;
}
#my-hand .stockitem.non-selectable-player-card {
    cursor: not-allowed;
    opacity: 0.5 !important;
}
#my-hand .stockitem.non-selectable-player-card:hover {
    cursor: not-allowed;
    margin: 5px;
    border: 1px solid gray !important;
}
/**
END Current player hand
 */

/**
Cards
 */
.velonimo-card {
    width: 90px;
    height: 126px;
    border-radius: 10px;
    background-repeat: no-repeat;
}
.velonimo-card.front-side {
    background-image: url('img/cards.png'); /* background-position is dynamically computed */
    background-size: 630px 1008px;
}
.velonimo-card.back-side {
    background-image: url('img/remaining_cards.png');
    background-size: 90px 126px;
}
.cards-stack {
    position: absolute; /* position and width are dynamically computed */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.5s;
}
.cards-stack.previous-last-played-cards {
    opacity: 0.2;
}
.cards-stack .velonimo-card {
    margin-right: -60px; /* 2/3 of card width */
}
.text-on-cards {
    position: absolute;
    left: 8px;
    top: 20px;
    font-size: 2em;
    text-align: center;
    width: 1em;
    pointer-events: none;
}
/**
END Cards
 */

/**
Animations
 */
.moving-jersey {
    position: absolute;
    width: 65px;
    height: 90px;
    background-size: 65px 90px;
    background-image: url('img/jersey.png');
    background-repeat: no-repeat;
    z-index: 100;
}
/**
END Animations
 */
